.username-requirements,
.password-requirements,
.repeat-password-requirements {
  font-size: 1.1rem;
}
.valid {
  color: green;
  position: relative;
}
.valid::after {
  content: " \02713";
  position: relative;
  left: 0;
  top: 0;
}
.invalid {
  color: tomato;
}

.success {
  background: green;
  padding: 8px 16px;
  color: #fff;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.alert {
  background: tomato;
  padding: 8px 16px;
  color: #fff;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-bottom: 8px;
}
